<html>
    <head>
        <meta charset="utf-8">
        <title class="title_province">CS457</title>
    </head>
    <body>
        <h2 style="text-align: center;" id="name_province">{{name}}</h2>
        <div style="display: flex; justify-content: center; align-items: center;" class="province_contain">
            <img id="province_img" src="/thumbnail.png" />
        </div>

    </body>
    <style>
        .province_contain img{
            width: 100%;
            height: 100%;
        }
    </style>
</html>